@keyframes  yurak {
    0%{
       background-color:aqua;
       margin-top: 0;
       margin-left: 200px;
       width: 150px;
       height: 150px;
    }
    25%{
        background-color: chocolate;
        margin-top: 50px;
        margin-left: 300px;
        width: 200px;
        height: 200px;
    }
    50%{
        background-color: yellow;
        margin-top: 30px;
        margin-left: 400px;
        width: 150px;
        height: 150px;
    }
    75%{
        background-color: springgreen ;
        margin-top: 60px;
        margin-left: 500px;
        width: 200px;
        height: 200px;

    }
    100%{
        background-color: red;
        margin-top: 40px;
        margin-left: 600px;
        width: 150px;
        height: 150px;
    }
}
@keyframes rr {
    0%{
        border: 3px solid aqua ;
        opacity: 1 ;
    }
    25%{
        border: 3px solid chocolate;
        opacity: 0.7;
    }
    50%{
        border: 3px solid yellow;
        opacity: 0.4;
    }
    75%{
        border: 3px solid springgreen ; 
        opacity: 0.1 ;
    }
    
    100%{
        opacity: 0;
        top: -50px;
        right: -50px;
        bottom: -50px;
        left: -50px;
        border: 3px solid red;
    }
}
body{
	background-color:#000;
}
.block{
    margin-top: 100px;
    width: 100px;
    height: 100px;
    animation: yurak 4s ease-in-out 2s infinite alternate ;  
    border-radius: 50%;
    position:relative ;
    background-color: chartreuse;
	margin:0 auto;
}
.block::after{
    content: '';
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 3px solid crimson;
	animation: rr 1s ease-in 2s infinite;
}
.block:hover{
    animation-play-state: paused;
}
